
body{
    box-sizing: border-box;
    width: 100%;
}

header img{
    margin-left: 13%;
    margin-right: 13%;

}
.nav-link{
    color:white !important;
}
.navbar-brand{
    margin:0;
    padding:0;
}
#nav{
    width: 100%;
    height: 10vh;
    color: rgb(97, 181, 255) !important;
}
.navbar{
    background-color: #383e70 !important;
    color: white,  !important;
}
.dropdown:hover .dropdown-menu {
    transition: 0.5s;
    display: block;
    margin-top: 0;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.dropdown:hover{
    transition: 0.5s !important;
    -webkit-transition: 0.5s !important;
    -moz-transition: 0.5s !important;
    -ms-transition: 0.5s !important;
    -o-transition: 0.5s !important;
}
.dropdown-item{
    color:black !important;
    width: 150px;

}


.dropdown-item {
    font-size: 13px !important;
    font-weight: 520;
}
#carousel{
    max-width: 550px;
    height: auto;
    margin:0 auto;
    border: 5px #4d4d4d solid;
}
.navbar{

    font-size: 12px;
    font-weight: 300;
    font-family:Arial, Helvetica, sans-serif;
    transition: 0.3s all !important;
    -webkit-transition: 0.3s all !important;
    -moz-transition: 0.3s all !important;
    -ms-transition: 0.3s all !important;
    -o-transition: 0.3s all !important;
    padding: 22px;
   
}
#jatekrol{
    background-color: #dddddd;
    padding: 30px;

}
.navbar a{
    margin-top: 2px;
    margin-left: 10px;
    margin-right: 10px;
    color:white;
    transition: 0.4s !important;
    -webkit-transition: 0.4s !important;
    -moz-transition: 0.4s !important;
    -ms-transition: 0.4s !important;
    -o-transition: 0.4s !important;
}
.navbar a:hover{
    color:rgba(255, 255, 255, 0.858) !important;
    transition: 0.4s !important;
    -webkit-transition: 0.4s !important;
    -moz-transition: 0.4s !important;
    -ms-transition: 0.4s !important;
    -o-transition: 0.4s !important;
}
.navbar-collapse{
    padding-left: 10%;
    padding-right: 10%;
}
header{
    height:100%;
    padding:12px;
    background-color: rgb(211, 211, 211);

}
header img{
    text-align: center;
    width: 58%;
    height: auto;
}
header{
    background:#ada191;
}
footer{
    background-color: #273272;
    width: 100%;


    height:200px;
}

#tartalom{
    height: fit-content;
    padding: 40px;
}
#aktiv{
    color:rgba(255, 255, 255, 0.8) !important;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #949494;
}

::-webkit-scrollbar-thumb:hover {
  background: #7b7b7b;
}
#cim{
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #383e70;
    color: white !important;
    width: fit-content;
    margin:0 auto;
    font-size: 30px;
}
#alcim{
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #6b6b6b;
    color: white !important;
    width: fit-content;
    margin:0 auto;
    margin-bottom: 10px;
    font-size: 25px;
}
.col-md{
    margin-bottom: 10px;

}
.col-md .col{
    text-align: center;
}
.navbar{
    position: sticky;
    top:0;
    z-index: 499;

}
#gomb{
  
    padding: 10px;
    color:white;
    background-color: #383e70;
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 5px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border:0px;
    transition: 0.4s !important;
    -webkit-transition: 0.4s !important;
    -moz-transition: 0.4s !important;
    -ms-transition: 0.4s !important;
    -o-transition: 0.4s !important;
    font-weight: 400;
}
#gomb:hover{
    background-color: #51599e;
    transition: 0.4s !important;
    -webkit-transition: 0.4s !important;
    -moz-transition: 0.4s !important;
    -ms-transition: 0.4s !important;
    -o-transition: 0.4s !important;
}
#szoveg{
    width: fit-content;
    height: fit-content;
    color:rgb(0, 0, 0);
    padding: 10px;
    font-size: 20px;
    margin:0 auto;
    text-align: center;
    margin-top: 10px;
}
#szoveg span{
    font-size: 25px;
    font-weight: 550;
    
}
#valami{
    padding-top: 60px;
}
footer ul li{
    margin:0 auto;
    display:inline-block;
    list-style-type: none;
    color:white;

}

footer ul{
    margin:0;
    padding:0;
}
footer ul li{

    
    padding-top: 20px;

}
footer ul{
    text-align: center;
}
#doboz{
    background-color: #dddddd;
    max-width: 400px;
    margin:0 auto;
    padding:30px;
    margin-bottom: 15px;
    margin-top: 15px;
}
hr{
    height: 0.6px;
    background-color: rgb(55, 55, 55);
    width: 200px;
    margin:0 auto;


}
#letoltes{
    margin-bottom: 20px;
    margin-top: 20px;
}